<button (click)="openAddTaskDialog()" mat-raised-button>Добавить задачу</button>
<div class="container">
  <div class="row">

    <!-- На распределении -->
    <div class="example-container">
      <h2>На распределении</h2>
      <div
          #todoList="cdkDropList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="['atWorkList', 'doneList']"
          [cdkDropListData]="todo"
          cdkDropList
          class="example-list"
          id="todoList">
        <ng-container *ngFor="let item of todo; trackBy:itemTrackBy">
          <div cdkDrag class="example-box">{{item.title}}</div>
        </ng-container>
      </div>
    </div>

    <!-- В работе -->
    <div class="example-container">
      <h2>В работе</h2>
      <div
          #atWorkList="cdkDropList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="['todoList', 'doneList']"
          [cdkDropListData]="atWork"
          cdkDropList
          class="example-list"
          id="atWorkList">
        <ng-container *ngFor="let item of atWork; trackBy:itemTrackBy">
          <div cdkDrag class="example-box">{{item.title}}</div>
        </ng-container>
      </div>
    </div>

    <!-- Готово -->
    <div class="example-container">
      <h2>Готово</h2>
      <div
          #doneList="cdkDropList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="['todoList', 'atWorkList']"
          [cdkDropListData]="done"
          cdkDropList
          class="example-list"
          id="doneList">
        <ng-container *ngFor="let item of done; trackBy:itemTrackBy">
          <div cdkDrag class="example-box">{{item.title}}</div>
        </ng-container>
      </div>
    </div>

  </div>
</div>